<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Resume Review Day is an event hosted by the Engineering and Applied Science Tribunal in order to help prepare students for the Career Fair.">
    <title>Resume Review Day Employer Registration</title>
    <link rel="stylesheet" type="text/css" href="../build/employers.min.css">
</head>
<body>
    <div class="intro">
        <header>
            <a href="https://tribunal.uc.edu"><img src="../images/tribunal_logo.png" alt="Tribunal logo"></a>
        </header>

        <div class="container">
            <div class="title">
                <h1>Resume Review Day Employer Registration</h1>
            </div>
            <div class="intro-info">
                <p>Resume Review Day is an event hosted by the Engineering and Applied Science Tribunal in order to help prepare students for the Career Fair. This event gives students the opportunity to sign up for 20 minute intervals to receive resume feedback from industry leaders and also gives students the ability to network with employers before the Technical Career Fair. <br><br>
        
                    It is also used as a chance for employers to build student relations, as well as get face-to-face time with additional students that might be seeking a co-op at no cost to them. The event will be 9 AM - 3 PM with a 1 hour lunch break from 12 PM - 1 PM. Breakfast and Lunch will be provided, as well as a parking pass for when you leave. <br><br>
            
                    Please provide the following information about yourself and your company.  If you are registering for someone else, please ensure that we have the information of the person who will be attending the event, as the specified email address and phone number will be used for all future contact regarding the Resume Review Day.  Resume Review Day will be on Friday, February 8th and the hours are 9 AM to 3 PM, but you are welcome to come for as many or as few hours as you like.<br /><br />If you have any questions, please contact us at <a href="mailto:careerfair@uc.edu">careerfair@uc.edu</a>.
                </p>
            </div>
            <form>
                <input type="text" id="name" name="name" placeholder="Full Name" autocomplete="off" required>

                <input type="text" id="company" name="company" placeholder="Company Name" autocomplete="off" required>
                
                <input type="email" id="email" name="email" placeholder="Email" autocomplete="off" required>

                <input type="text" id="phone" name="phone" placeholder="Phone Number" autocomplete="off" required>

                <input type="text" id="dietary" name="dietary" placeholder="Dietary Restrictions (if applicable)" autocomplete="off">
                
                <div class="time-select" id="start-time">
                    <label>Start Time:</label>
                    <select autocomplete="off" required>
                        <option value="" disabled="disabled" selected="selected">▼ Select Time</option>
                    </select>
                    <div class="select__arrow"></div>
                </div>

                <div class="time-select" id="end-time">
                    <label>End Time:</label>
                    <select autocomplete="off" required>
                        <option value="" disabled="disabled" selected="selected">▼ Select Time</option>
                    </select>
                    <div class="select__arrow"></div>
                </div>

                <label for="alumni">UC Alumni</label>
                <input type="checkbox" class="form-checkbox" id="alumni">

                <h3>Select your major(s) of interest:</h3>
                <div class="majors-container">
                </div>

                <input type="button" value="Sign Up" id="sign-up-button">
            </form>
        </div>
    </div>


    <div class="sign-up-confirmation">
        <p></p>
    </div>

    <script src="../build/scripts/employers.bundle.js" type="text/javascript"></script>
</body>
</html>