<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Resume Review Day is an event hosted by the Engineering and Applied Science Tribunal in order to help prepare students for the Career Fair.">
    <title>Resume Review Day Student Registration</title>
    <link rel="stylesheet" type="text/css" href="../build/main.min.css">
    <link rel="stylesheet" type="text/css" href="../build/students.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <div class="intro">
        <header>
                <a href="https://tribunal.uc.edu"><img src="../images/tribunal_logo.png" alt="Tribunal logo"></a>
        </header>

        <div class="container">
            <div class="title">
                <h1>Resume Review Day Student Registration</h1>
            </div>
            <div class="intro-info">
                <p>Resume Review Day is an event hosted by the Engineering and Applied Science Tribunal in order to help prepare students for the Career Fair. This event gives students the opportunity to sign up for <span class="review-interval"></span> minute intervals to receive resume feedback from industry leaders and also gives students the ability to network with employers before the Technical Career Fair.
                    
                    Resume Review Day takes place on <span class="event-date"></span> in <span class="location"></span>. <br><br>

                    Select a timeslot with an employer by browsing all of the available options or filter by major and a desired time. You are able to register for up to two different employers. The last day to sign up will be on <span class="deadline"></span>. <br><br>

                    If you have any questions, please contact us at <a class="admin-email"></a>.
                </p>
            </div>
            <form class="filter-form">
                <div class="select-container" id="major-select">
                    <i class="dropdown fas fa-chevron-circle-down" aria-hidden="true"></i>
                    <select autocomplete="off" required>
                        <option value="" disabled="disabled" selected="selected">Select Major</option>
                    </select>
                </div>

                <div class="select-container" id="time-select">
                    <i class="dropdown fas fa-chevron-circle-down" aria-hidden="true"></i>
                    <select autocomplete="off" required>
                        <option value="" disabled="disabled" selected="selected">Select Time</option>
                    </select>
                </div>
    
                <input type="button" value="Filter" id="filter-button">
            </form>
        </div>
    </div>

    <div class="timeslots">
        <div class="container">
            <h2 id="timeslot-title">Select Timeslot <i class="far fa-clock"></i></h3> 
                <div class="employers"></div>
            </div>
        </div>
    </div>

    <div class="register">
        <div class="container">
            <h2 id="registerTitle">Confirm Your Timeslot <i class="far fa-calendar-check"></i></h3> 
            
            <form>
                    <p>You have selected to get your resume reviewed with <span id="selectedCompanyName">Company A</span> at <span id="selectedCompanyTime">12:00 PM</span> for approximately 20 minutes. If you would like to change your timeslot, you can <a href="#timeSlotTitle">go back and select a different time</a>, otherwise, you can continue to register.</p>
                <input type="text" id="name" name="name" placeholder="Full Name" autocomplete="off" required>

                <input type="email" id="email" name="email" placeholder="Email" autocomplete="off" required>

                <div class="major-select" id="year-select">
                    <select required>
                        <option value="" disabled="disabled" selected="selected">▼ Select Graduation Year</option>
                    </select>
                </div>

                <div class="major-select" id="student-major-select">
                    <select required>
                        <option value="" disabled="disabled" selected="selected">▼ Select Major</option>
                    </select>
                </div>
                <br>
                <label for="resume-file">Upload Resume (PDF):</label>
                <input type="file" id="resume-file" accept=".pdf">
                <input type="button" value="Register" id="register-button">
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </form>
        </div>
    </div>

    <footer>
        <p>University of Cincinnati | © 2019 College of Engineering and Applied Science Tribunal </p>
        <p>For any questions or comments, contact us at uc.eas.tribunal@gmail.com.</p>
    </footer>

    <script src="../build/scripts/students.bundle.js" type="text/javascript"></script>
</body>