@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

/* Time Select */
form #start-time.missing,
form #end-time.missing {
  border-bottom: 2px solid #e00122;
}

form #start-time.missing:focus-within,
form #end-time.missing:focus-within {
  border-bottom: 2px solid #8f131f;
}

form #end-time {
  display: none;
}

/* Checkboxes */

form .majors-container  {
  margin-left: 40px;
  padding-bottom: 20px;
  display: block;
}

form .majors-container label {
  font-size: 15px;
  color: #666;
  cursor: pointer;
  margin: 0 50px;
  display: block;
}

/* Registration Form */

.registration-form form {
  display: none;
}

/* Event Closed */

.event-closed {
  display: none;
}

/* Registration Confirm */

.registered {
  display: none;
}